@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.50%;
}
.forgotPassword{
    width: 100VW;
    height: 100vh;
    background: #F9F9F9;
    display:flex;
    align-items: center;
    justify-content: center;
}
.forgot_password_page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.forgot_password_page .forgot_password_card{
    width: 50rem;
    -webkit-box-shadow: 0 0.4rem 1.2rem rgb(0 0 0 / 15%);
    box-shadow: 0 0.4rem 1.2rem rgb(0 0 0 / 15%);
    padding: 2.4rem 3.2rem 3.2rem;
    border-radius: 0.8rem;
    margin: 0 auto;
    background: #e1e8eb;
}
.forgot_password_page .forgot_password_card .error_msg{
    width: 80%;
    max-height: 5rem;
    word-wrap: break-word;
    overflow-y: auto;
    border: 0.2rem solid #f5c6cb;
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background: #f8d7da;
    color: #721c24;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 0.3rem;
    display: block;
 }
 .forgot_password_page .forgot_password_card .error_msg::-webkit-scrollbar{
     width: 0rem;
 }
.forgot_password_page .forgot_password_card >.heading{
    font-size: 3.2rem;
    font-weight: 600;
    color: black;
    padding: 0 0 0.4rem 0;
}
.forgot_password_page .forgot_password_card > .header{
    font-size: 1.4rem;
    line-height: 1.42857;
    font-weight: 400;
    color: black;
    margin-bottom: 2rem;
}
.forgot_password_page .forgot_password_card > input{
    font-size: 1.8rem;
    font-weight: 400;
    background: #e1e8eb;
    color: rgba(0,0,0,0.9);
    position: relative;
    z-index: 1;
    width: 100%;
    height: 52px;
    padding: 28px 12px 6px;
    border-radius: 4px !important;
    margin-bottom: 2rem;
    transition: all 0.5s;
 }
 .forgot_password_page .forgot_password_card > input:focus{
     background: #fff;
 }
 .forgot_password_page .forgot_password_card > button{
    background-color: #25B0DC;     /*0073b1;*/
    border: 0;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: inherit;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 167ms;
    transition-duration: 167ms;
    -webkit-transition-property: background-color,color,-webkit-box-shadow;
    transition-property: background-color,color,-webkit-box-shadow;
    transition-property: background-color,box-shadow,color;
    transition-property: background-color,box-shadow,color,-webkit-box-shadow;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    z-index: 0;
    border-radius: 28px !important;
    display: block;
    width: 100%;
    height: 5.2rem;
 }
 .forgot_password_page .forgot_password_card .back_button{
    background-color: rgba(0,0,0,0);
    border: 0;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: inherit;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 167ms;
    transition-duration: 167ms;
    -webkit-transition-property: background-color,color,-webkit-box-shadow;
    transition-property: background-color,color,-webkit-box-shadow;
    transition-property: background-color,box-shadow,color;
    transition-property: background-color,box-shadow,color,-webkit-box-shadow;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    z-index: 0;
    border-radius: 28px !important;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 28px !important;
    margin: 12px auto 0;
}




/* RESPONSIVE CODE STRT HERE */

@media(max-width:998px){
    html{
        font-size: 55%;
    }

}

@media(max-width:800px){
    html{
        font-size: 45%;
    }
}

@media(max-width:500px){


}