@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.50%;
}
 .updatePassword{
    width: 100VW;
    height: 100vh;
    background: #F9F9F9;
    display:flex;
    align-items: center;
    justify-content: center;
 }
form{
    margin: 2rem 0rem;
}
form > .heading{
    width:100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
form > .heading > h1{
    font-size: 2.5rem;
}
form > .heading > p{
    font-size: 1.5rem;
}
form > .error_msg{
    width: 80%;
    max-height: 5rem;
    word-wrap: break-word;
    overflow-y: auto;
    border: 0.2rem solid #f5c6cb;
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background: #f8d7da;
    color: #721c24;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 0.3rem;
    display: block;
}
form > .error_msg::-webkit-scrollbar{
    width: 0rem;
}
form .field{
    width: 80%;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}
form .field i{
    position: absolute;
    right: .9rem;
    top: 3rem;
    font-size: 1.5rem;
}
form .field label{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
form .field i + p{
    font-size: 1.5rem;
    margin-top: 1rem;
}
form .field i + p > a{
    text-decoration: none;
    transition: all 0.5s;
    color: black;
}
form .field i + p > a:hover{
    background: rgb(180, 210, 223);
    padding: 1rem;
    border-radius: 2rem;
}
form .input input{
    height: 3rem;
    border-radius: 0.5rem;
    outline: none;
    border: 0.1rem solid gray;
    padding-left: 2rem;
}
form .signUpBtn input{
    width: 20rem;
    height: 3rem;
    margin: auto;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    background: linear-gradient(120deg, #15AAD9, #15abd988);
    color: #e1e8eb;
    cursor: pointer;
    box-shadow: 0rem 1rem 2rem #31b3de8e;
}
form .signUpBtn input:hover{
    position: relative;
    top: 0.5rem;
}
form .redirectToLogin{
    height: 3rem;
    padding-left: 2rem;
    margin: auto;
    flex-direction: row;
    font-size: 1.5rem;
    color: #536cce;
}
form .redirectToLogin >p {
    margin-right: 1rem;
}
form .redirectToLogin > span > a{
    font-weight: bold;
    text-decoration: none;
    color: #536cce;
}


/* RESPONSIVE CODE STRT HERE */

@media(max-width:998px){
    html{
        font-size: 55%;
    }

}

@media(max-width:800px){
    html{
        font-size: 45%;
    }
}

@media(max-width:500px){


}